<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-spot">
        <h1 class="text-center">Créer votre nouveau spot</h1>
        <%= render 'form_spot', spot: @spot %>
      </div>
    </div>
  </div>

</div>

