/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.pages-home {
  .navbar-wagon {
    position: fixed;
    background-color: transparent;
    box-shadow: none;
  }
}
