<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="http://res.cloudinary.com/steencloud/video/upload/v1463671426/Fish-Tank_g978mh.mp4" type="video/mp4" />
            <source src="http://res.cloudinary.com/steencloud/video/upload/v1463672311/Fish-Tank_tg5o5x.webm" type="video/webm" />
        </video>
        <div class="banner">
            <h1>Fishing becomes so easy</h1>
            <p>The very best fishing spots around you</p>
            <%= link_to "FIND A SPOT", search_spot_path, class: "btn btn-success btn-lg" %>
        </div>
        <div class="poster hidden">
            <img src="http://res.cloudinary.com/steencloud/image/upload/v1463671436/Fish-Tank_q9krvs.jpg" alt="">
        </div>
    </div>
</div>
