<h1>Vous avez une nouvelle demande pour le <%= @booking.checkin %> par <%=@booking.user.first_name%> </h1>

<p>Astuve confirmer la résevartion rapidemment pour que <%=@booking.user.first_name%> puisse venir pêcher </p>

