<%= render "shared/banner_home" %>


<div class="container padded text-center">
  <%= link_to "Create a new spot", new_spot_path, class: "btn btn-success" %>
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_spot" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_spot" %>
      </div>
  </div>
</div>
