<%= render "shared/banner_home" %>


<div class="container padded">
  <%= link_to "Go to all spots", spots_path, class: "btn btn-success" %>
  <div class="row">
    <% @spots.each do |spot|%>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_spot", spot: spot %>
      </div>
    <%end%>
  </div>
</div>

