<%= render "shared/banner_home" %>



<div class="flip-card-container">
  <div class="container padded text-center">
    <div class="row">
    <%if @spots %>
      <% @spots.each do |spot|%>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card_spot", spot: spot %>
        </div>
      <%end%>
    <%else%>
      <p> Ajouter un Spot sans attendre !</p>
    <%end%>
    </div>
  </div>
</div>

<!-- cache la nav bar lorque l'utilisteur scroll down (indice 10) -->
<script>
window.addEventListener("scroll", function() {
    if (window.scrollY > 10) {
        $('.navbar-wagon').fadeOut();
    }
    else {
        $('.navbar-wagon').fadeIn();
    }
},false);
</script>
