<%= render "shared/banner_home" %>



<div class="flip-card-container">
  <div class="container padded text-center">
    <div class="row">
      <% @spots.each do |spot|%>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card_spot", spot: spot %>
        </div>
      <%end%>
      </div>
  </div>
</div>
