// Your footer style
#footer {
  background: #171332;
  padding: 30px 0;
  color: #CCCCCC;
  bottom: 0;


  p {
    margin-top: 17px;
    margin-left: 300px;
  }
  p:hover{
    color: $green;
  }
  ul {
    margin-top: 10px;
  }
  a {
    color: #CCCCCC;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
  }
}

.fa:hover {
  color: $green;
}
