.tabs {
  background: $gray-lighter;
  display: flex;
  padding: 10px 10px 0 10px;
  border-radius: 10px 10px 0 0;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: $blue-dark;
  opacity:0.5;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
  opacity: 1;
}

.tab-wrapper {
  background-color: $gray-lighter;

  // border-radius: 4px 4px 0 0;
  // padding :0 20px 20px 20px;
}

.tab-content {
  margin: 0px 10px 0px 10px;
  background-color: white;
  min-height : 500px;
  // box-shadow: 2px 2px 2px grey;
  // border-radius: 4px;
  border: 1px solid $gray-lighter;
}

.bordered {
  border-left: 1px solid $gray-lighter;
}
