
.wrapper-chat {
  border : 3px solid #171332;
  box-shadow: 1px 1px 3px grey;
  border-radius: 10px;
  padding : 10px;
  margin-bottom: 10px;
}
 .wrapper-chat p {
  word-wrap: break-word;
 }

// .chat-form {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.btn-form {
  padding-top: 37px;
}
